.app-header {
    background: var(--app-header-bg);
    color: var(--app-header-font);
    padding: 12px 10px;
    box-shadow: 0px 1px 10px #e2e0e0;
    
    @at-root {
        [data-theme="dark"] .app-header {
            box-shadow: 0px 1px 10px #333;
        }
    }

    a,
    button {
        color: var(--app-header-font);
        &:hover {
            color: #8c6830;
        }
    }

    .back-link {
        padding: 0 5px;
    }
    
    .header-logo {
        font-weight: bold;
        text-decoration: none;
    }

    .btn-menu {
        svg {
            transition: transform .33s ease;
        }
        &.active {
            color: #8c6830;
            svg {
                transform: rotate(90deg);
            }
        }
    }

    .menu {
        position: fixed;
        top: 55px;
        right: 100%;
        width: 100%;
        min-height: 100vh;
        transition: all .33s ease;
        z-index: 10;
        background: var(--side-menu-bg);
        &.active {
            right: 0%;
        }

        ul {
            padding: 10px 0;
            margin: 0 auto;
            li, a, button {
                display: block;
            }
            a, button {
                padding: 12px 15px;
                font-size: 14px;
                text-decoration: none;
                text-align: left;
            }
            button {
                width: 100%;
                background: transparent;
                border: none;
                &.active {
                    background: #000;
                }
            }
            .menu-icon {
                display: inline-block;
                vertical-align: text-bottom;
                margin-right: 10px;
                color: #8c6830;
            }
        }
    }
}


